body {
  background-color: #f9f9f9;
  color: #555:
}

p {
  color: #555;
}

header {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 2em;
  font-family: "Helvetica";
  color: #555;
}

header .slogan {
  font-size: 0.5em;
  font-style: italic;
}

.line.post {
  padding-left: 30%;
  padding-right: 30%;
}

pre {
  background-color: #f1f1f1;
  border: 1px #e9e9e9 solid;
  padding: 5px;
}

.articleline {
  text-align: center;
  margin-bottom: 10px;
}

header a {
  color: #555;
}

a {
  text-decoration: none;
  color: #a3d069;
}

a:hover {
  color: #3d3d3d;
}

h2 {
  color: #555;
}

.articleline h5 a {
  color: #555;
}

.articleline h5 {
  margin-bottom: 3px;
  font-size: 1.4em;
  font-style: bold;
  color: #444;
}

.lineinfo {
  font-size: 1.0em;
  color: #666;
  font-style: bold;
}

.metadatas {
  color: #555;
  font-size: 0.9em;
}

pre.sourceCode {
  color: #555;
}

pre.sourceCode span.kw{
  color:#366aff;	/* blue */ 
}

pre.sourceCode span.dt{
  color:#6683cd;	/* green */
}

pre.sourceCode span.dv{
  color:#2975d4;	/* darkblue */
}

pre.sourceCode span.bn{
  color:#bee38a;	/* gray */
}

pre.sourceCode span.fl{
  color:#b48dd5;	/* purple */
}

pre.sourceCode span.ch{
  color:#6bbc1c;		/* green */
}

pre.sourceCode span.st{
  color:#9bc1ff;		/* lightblue */
}

pre.sourceCode span.co{
  color:#b97aff;		/* darkpurple */
}

pre.sourceCode span.ot{
  color:#6bbc1c;		/* lime green */
}

pre.sourceCode span.al{
  color:#6683cd;		/* lol */
}

pre.sourceCode span.fu{
  color:#5cba01;                /* lime green */
}

pre.sourceCode span.re{
  color:#CC0066;
}

pre.sourceCode span.er{
  color:#CC0066;
}

