body {
  background-color: #f9f9f9;
}
header {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 2em;
  font-family: "Helvetica";
  color: #333;
}

header .slogan {
  font-size: 0.5em;
  font-style: italic;
}

.line.post {
  padding-left: 30%;
  padding-right: 30%;
}

pre {
  background-color: #f1f1f1;
  border: 1px #e9e9e9 solid;
  padding: 5px;
}
